@import '~assets/scss/bits';

.container {
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-between;

  &__item {
    flex: 1;
  }
}

.logo {
  text-align: center;
}

.profile {
  display: flex;
  align-self: center;
  vertical-align: middle;

  &__image {
    height: 46px;
    width: 46px;
    border-radius: 100%;
    border: 2px solid #191919;
  }

  &__login-text {
    color: #191919;
    font-size: 16px;
    text-decoration: none;
    align-self: center;
    margin-left: 5px;
  }
}

.end {
  justify-content: flex-end;
}

#header-1 {
  display: block;

  @include breakpoint(desktop) {
    display: none;
	}
}

#header-2 {
  @include breakpoint(phone) {
    display: none;
  }
  @include breakpoint(tablet) {
    display: none;
  }
  display: block;
}