@import '~assets/scss/bits';

.section-indicator {
  border-radius: 100%;
  color: $primary;
  background-color: $red;
  height: 20px;
  width: 20px;
  text-align: center;
}

.order-row {
  display: flex;
  justify-content: space-between;

  &__label {
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}